.sgrid  {
    display: table;
    height: 100%;
    width: 100%;
}

.sgrid .row {
    display: table-row;
}

.sgrid .row .col {
    display: table-cell;
    border: 1px solid black;
}

.sgrid .row .col.selected {
    display: table-cell;
    background: rgba(0, 0, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.5);
}
